<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Documentation</title>
</head>

<body>
    <textarea id="init-value" name="init-value" hidden><%= initValue %></textarea>
    <script>
        window.initValue = JSON.parse(document.getElementById('init-value').value);
    </script>
    <div id="root"></div>
</body>

<!-- <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker
                    .register("service-worker.js")
                    .then((registration) => {
                        console.log("Service Worker registered: ", registration);
                    })
                    .catch((registrationError) => {
                        console.error("Service Worker registration failed: ", registrationError);
                    });
            });
        }
    </script> -->

</html>