@import url(https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/github.min.css);

.markdown-body {
    margin: 24px;
}

@media (prefers-color-scheme: dark) {
   .themeColor {
        background: #0d1117;
        // background: #1f1f1f;
        color: white;
        div {
            background: #0d1117;
            color: white;
        }
        section {
            background: black;
        }
        main {
            background: black;
        }
        iframe {
            background: #0d1117;
        } 
   } 
}

@media (prefers-color-scheme: light) {
   .themeColor {
        main {
            background: white;
        }
   } 
}